<h1>Edição da sua task: {{task.title}}</h1>

<form action="/tasks/edit" method="post">
  <input type="hidden" name="id" value="{{task.id}}" />

  <div class="form-control">
    <label for="title">Título da tarefa</label>
    <input
      type="text"
      name="title"
      placeholder="Sua tarefa..."
      value="{{task.title}}"
    />
  </div>

  <div class="form-control">
    <label for="description">Descrição da tarefa</label>
    <textarea name="description" placeholder="O que você vai fazer?...">
      {{task.description}}
    </textarea>
  </div>
  <input type="submit" value="Editar" />
</form>